.user-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.user-main {
  flex: 1;
  position: relative;
}

.user-info {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.profile-img {
  width: 200px;
  border-radius: 10px;
  margin-bottom: 3rem;
}

.login-text {
  color: white;
  font-size: 1.95rem;
}

.text-info {
  font-size: 1.3rem;
}

.btn-logout,
.btn-login {
  background-color: #0a0f22;
  border: 1px solid #56b2bb;
  border-radius: 10px;
  color: #56b2bb;
  padding: 0.75rem 1.5rem;
  font-size: 1rem;
}

.btn-logout:hover,
.btn-login:hover {
  background-color: black;
  color: white;
  border-color: white;
}

@media (min-width: 992px) {
  .user-info {
    text-align: center;
    top: 45%;
  }

  .login-text {
    letter-spacing: 0.1rem;
  }
}
